<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>97726017770-6nr406bfl3d5udpm05ltigpulg3v4eph.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.97726017770-6nr406bfl3d5udpm05ltigpulg3v4eph</string>
	<key>API_KEY</key>
	<string>AIzaSyAmJTlVpOJFadtl8fGJmbqOopKg2np6TtQ</string>
	<key>GCM_SENDER_ID</key>
	<string>97726017770</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dotalk</string>
	<key>PROJECT_ID</key>
	<string>dotalk-101</string>
	<key>STORAGE_BUCKET</key>
	<string>dotalk-101.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:97726017770:ios:650f3cb38a7ca6689aa793</string>
</dict>
</plist>